* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(208, 208, 208);
}

.logo {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #003366;
    color: white;
}

.logo-text {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.menu {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
}


.conteiner {
    height: 60vh;
    background: url('https://images.unsplash.com/photo-1522071820081-009f0129c71c') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    position: relative;
}

.texto {
    color: aliceblue;
}

.butao {
    margin-top: 15px;
    padding: 12px 22px;
    background: #00aaff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: .3s;
}

.butao a {
    text-decoration: none;
}


.sobre {
    display: flex;
    padding: 60px 40px;
    align-items: center;
    gap: 40px;
}

.sobre-text {
    flex: 1;
}

.sobre-img {
    flex: 1;
    height: 280px;
    background: url('https://images.unsplash.com/photo-1560264357-8d9202250f21') center/cover no-repeat;
    border-radius: 12px;
}

.rodape {
    padding: 25px;
    text-align: center;
    background: #003366;
    color: white;
}


@media (max-width: 768px){
    .menu {
        background-color: #001e3c;
    }
}



@media (max-width: 480px) {
    .logo {
        display: block;
        height: 20vh;
    }

    .logo-text {
        display: block;
        text-align: center;
        width: 100%;
        height: 50%;
    }

    .menu {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #001e3c;
    }

    .conteiner {
        height: 50vh;
    }

    .butao {
        position: absolute;
        left: 30%;
    }
}

/**/