* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(208, 208, 208);
}

.logo {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #003366;
    color: white;
}

.logo-text {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.menu {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
}


main.contato {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 0;
}

.info-contato, .formulario {
    flex: 1 1 400px;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.info-contato h2, .formulario h2 {
    color: #003366;
    margin-bottom: 15px;
}

.dados-contato {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.dados-contato li {
    margin-bottom: 12px;
    font-size: 1rem;
}

.dados-contato i {
    color: #003366;
    margin-right: 8px;
}

.redes-sociais {
    margin-top: 20px;
}

.redes-sociais h3 {
    color: #003366;
    margin-bottom: 10px;
}

.redes-sociais a {
    display: inline-block;
    background: #003366;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
    transition: transform 0.3s, background 0.3s;
}

.redes-sociais a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.redes-sociais a:hover {
    background: #0055a5;
    transform: scale(1.1);
}

.mapa h3 {
    color: #003366;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #003366;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s;
}

button:hover {
    background-color: #0055a5;
}

.rodape {
    padding: 25px;
    text-align: center;
    background: #003366;
    color: white;
}


@media (max-width: 768px){
    .menu {
        background-color: #001e3c;
    }
}



@media (max-width: 480px) {
    .logo {
        display: block;
        height: 20vh;
    }

    .logo-text {
        display: block;
        text-align: center;
        width: 100%;
        height: 50%;
    }

    .menu {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #001e3c;
    }

    .redes-sociais a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 1.1rem;
    }

    .button {
        font-size: 1rem;
    }
}